// COLOURS:

// $primary:#9DDCE1;
$primary: #00828c;
$secondary: #ffe4d9;

$success: #8caf5e;
$danger: #d16262;

$info: #e1f3f6;
$warning: #ffe4d9;

$light: #acacac;
$dark: #123842;

$white: #ffffff;
